/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

body{
    margin: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.seccionFormulario{
    border-bottom: solid gray 2px;
    padding: 20px;
    background-color: lightblue;
}

.button{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seccionNoticias{
    padding-top: 20px;
    padding-bottom: 20px;
}

.aticleWrapper {
    display: flex;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.row article{
    width: calc(33.33% - 50px);
    padding: 20px;
    border: 1px solid gray;
    box-shadow: 1px 1px 10px #ccc;
}
.contNoti{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.imagennoti{
    display: flex;
    max-width: 100%;
    height: 100%;
    align-items: center;
}

.titulonoti{
    color: navy;
    display: flex;
    justify-content: center;
    height: 80px;
    padding: 5px;
    align-items: center;
}

.imagenwrapper{
    height: auto;
}

.fechanoti{
    display: flex;
    justify-content: right;
    padding: 10px;
}